<% puts @user.inspect %>
<% if @user.high_risk && @user.low_risk  %>

<br/><br/>
<p> Hello, <%= @user.name %>! You are<% if @user.low_risk > @user.high_risk %>
 <strong><%= @user.high_risk %>% to <strong><%= @user.low_risk %>%</strong>
<% else %>

<strong><%= @user.low_risk %>%</strong> to <strong><%= @user.high_risk %>%</strong>

<%  end  %> more likely than the general population to develop or become diagnosed with early-onset  Alzheimer's Disease. Please follow up with a genetic counselor.</p>

<% else %>

<p> Hello, <%= @user.name %>! You are <strong><%= @user.risk %> % </strong>more likely than the general population to develop or become diagnosed with early-onset Alzheimer's Disease. Please follow up with a genetic counselor. </p>
 
<% end %>

<% if @user.app.to_bool == true  %>
<p>You may also be predisposed to hereditary cerebral amyloid angiopathy, a condition also linked to mutations in the APP gene, where amyloid plaques deposit in the walls of blood vessel, increasing the risk of hemorrhagic stroke. Please follow up with a genetic counselor. </p>
<% end %>

  <div class="col-md-4 col-md-offset-4 ">
          <a href="/" class="btn btn-block btn-lg btn-info">Return Home</a>
  </div>

